@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode preferred in browser*/
:root {
  --background: #d0cccc; /* light background */
  --foreground: #171717; /* Dark text color */
  --header-background: #c7bebe;
  --header-anchor-color: #333;
}
/* Dark mode preferred in browser*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #d0cccc; /* Dark background */
    --foreground: #171717; /* Light text color */
    --header-background: #a59e9e;
    --header-anchor-color: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--header-background);
}

header a {
  color: var(--header-anchor-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
