.layoutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.layoutHeader a {
    text-decoration: none;
    font-size: 1.2rem;
}

.layoutHeader a:hover {
    text-decoration: underline;
}

.layoutHeader .logo  {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-left: 5px;
  }

.headerRight {
    display: flex;
    align-items: center;
}

.about {
    margin-right: 10px;
}

body {
    padding-top: 50px;
}