.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 80px;
  gap: 32px;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    background: var(--background);
    color: var(--foreground);
  }
}

.main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main ul {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

.main li {
  margin-bottom: 16px;
}

.main a {
  text-decoration: none;
  color: #5D4037;
}

.main a:hover {
  text-decoration: underline;
}

.main small {
  color: #666;
}